        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        header {
            background-color: #4CAF50;
            padding: 20px;
            text-align: center;
            color: white;
        }
        header h1 {
            font-size: 2.5em;
            margin: 0;
            font-weight: 700;
        }
        header a {
            color: #FFD700;
            text-decoration: none;
            font-weight: bold;
        }
        header a:hover {
            text-decoration: underline;
        }
        #gif-container {
            margin: 20px 0;
            text-align: center;
        }
        #gif-container img {
            max-width: 100%;
            height: auto;
            border-radius: 10px;
        }
        #content, #dynamic-content {
            margin: 40px auto;
            width: 80%;
            background: #fff;
            padding: 20px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }
        h2 {
            color: #4CAF50;
        }
        p {
            font-size: 1.2em;
        }
        #api-data {
            margin-top: 20px;
            padding: 10px;
            background-color: #e0f7fa;
            border: 2px solid #00796b;
            border-radius: 10px;
            min-height: 50px;
            font-size: 1.2em;
            text-align: center;
        }
